@model IEnumerable<Querier.Models.ManageQueryModel>

@{
    ViewData["Title"] = "Manage Query";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    <h2>@ViewData["Title"]</h2>
    <form class="navbar-form no-margin no-padding" role="search">
        <a asp-action="Create" class="btn btn-primary">Create New Query</a>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
        </div>
    </form>
</div>
<table class="table table-fixed">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.QueryID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.QueryName)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QueryID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QueryName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.QueryID" class="btn btn-info">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.QueryID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.QueryID" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
