@model DataManager.Question
@using Newtonsoft.Json

@{
    ViewData["Title"] = @"Active Query";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<button type="button" class="btn btn-primary" name="next" onclick="location.href='@Url.Action("DisplayResults", "Active", new { queryNumber = Model.QueryNumber, questionNumber = Model.Number })'">>>></button>

@using (Html.BeginForm("AddAnswer", "Active", FormMethod.Post, Model))
{
    @Html.HiddenFor(model => Model.UserID)
    @Html.HiddenFor(model => Model.QueryNumber)
    @Html.HiddenFor(model => Model.Number)
    <div class="form-group">
        <input style="margin-top: 5px" class="btn btn-primary" type="submit" value="Add Answer"/>
        <input name="AnswerName" type="text" class="form-control" placeholder="New Answer" style="vertical-align:bottom; width:300px; display:inline">
    </div>
}
<hr />
<ol>
    @foreach (var item in Model.Answers)
    {
        <li>
            <button type="button" class="btn btn-secondary">@Html.DisplayFor(model => item.Name)</button>
            <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("DeleteAnswer", "Active", new { queryNumber = Model.QueryNumber, questionNumber = Model.Number, answerNumber = item.Number })'"> X </button>
        </li>
    }
</ol>

<hr/>
<h6>Join with: <span style="color:mediumorchid">@Model.Code</span></h6>
<script>
    var scheme = document.location.protocol == "https:" ? "wss" : "ws";
    var port = document.location.port ? (":" + document.location.port) : "";
    var connectionUrl = scheme + "://" + document.location.hostname + port + "/Server/ws";
    socket = new WebSocket(connectionUrl);
    var msg = @JsonConvert.SerializeObject(Model);
    socket.send(msg);
</script>