@model DataManager.Question
@{
    ViewData["Title"] = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";

    if (Model.Number == 0)
    {
        <h2>You have joined query: @Html.DisplayFor(model => Model.Code)</h2>
    }
    else
    {
        <p>@Html.DisplayFor(model => Model.Code)</p>
        <br/>
    }
}

<h2>@ViewData["Title"]</h2>
<button type="button" class="btn btn-primary pull-right" name="update" onclick="location.href='@Url.Action("JoinQuery", "Client", new { Model.Code, Model })'">Update</button>
<hr/>
<ol>
    @foreach(var item in Model.Answers)
    {
        <li><button title="answerbtn" class="btn answer-btn" onclick="">@Html.DisplayFor(model => item.Name)</button></li>
    }
</ol>