@model DataManager.Question
@{
    ViewData["Title"] = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";

    if (Model.Number == 0)
    {
        <h2>You have joined query: @Html.DisplayFor(model => Model.Code)</h2>
    }
    else
    {
        <p>@Html.DisplayFor(model => Model.Code)</p>
        <br/>
    }
}

<h2>
    @ViewData["Title"]
    <button type="button" class="btn btn-primary pull-right" name="update" onclick="location.href='@Url.Action("JoinQuery", "Client", new { Model.Code, Model })'">Update</button>
</h2>
<hr />

<ol>
    @foreach(var item in Model.Answers)
    {
        <li>
            @using (Html.BeginForm("SelectAnswer", "Client", FormMethod.Post, Model))
            {
                    @Html.HiddenFor(model => Model.QueryNumber)
                    @Html.Hidden("questionNumber", Model.Number, new { @id = "questionNumber" })
                    @Html.HiddenFor(model => Model.Code)
                    @Html.Hidden("number", item.Number, new { @id = "number" })
                    <input class="btn answer-btn" type="submit" value="@Html.DisplayFor(model => item.Name)"/>
            }
        </li>
    }
</ol>