@model DataManager.User

@{
    ViewData["Title"] = "Manage Queries";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Manage Queries</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>
    </dl>
</div>
<div>
    <p>
        <a asp-action="Create" class="btn btn-primary">Add Query</a>
    </p>
<table class="table">
    <thead>
        <tr>
            <th>Query ID</th>
            <th>Query Name</th>
            <th></th>
        </tr>
    </thead>
    @foreach (var query in Model.Queries)
    {
        <tbody>
            <tr>
                <th>@query.Number</th>
                <th>@query.Name</th>
                <th>
                    <button type="button" class="btn btn-danger" name="delete" onclick="location.href='@Url.Action("DeleteQuery", "User", new { userID = Model.UserID, queryNumber  = query.Number})'">Delete</button>
                    <a asp-action="Publish" asp-route-id="@Model.LoginID" class="btn btn-warning">Publish</a>
                    <a asp-action="Delete" asp-route-id="@Model.LoginID" class="btn btn-danger">Delete</a>
                </th>
            </tr>
        </tbody>
    }
    </table>
</div>
