@model DataManager.User

@{
    ViewData["Title"] = "Manage Queries";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Manage Queries</h2>
<div>
    <div class="row">
        <div class="col-sm-12">
            <form class="navbar-form no-margin no-padding" role="search">
                <button type="button" class="btn btn-primary" name="edit" onclick="location.href='@Url.Action("Create", "User", new { userID = Model.UserID })'">Create Query</button>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
            </form>
        </div>
    </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Query ID</th>
                    <th>Query Name</th>
                    <th></th>
                </tr>
            </thead>
            @foreach (var query in Model.Queries)
            {
                <tbody>
                    <tr>
                        <th>@query.Number</th>
                        <th>@query.Name</th>
                        <th>
                            <button type="button" class="btn btn-info" name="edit" onclick="location.href='@Url.Action("ManageQuery", "Query", new { queryID = query.Number })'">Edit</button>
                            
                            @if (String.IsNullOrWhiteSpace(query.Code))
                            {
                                <button type="button" class="btn btn-warning" name="publish" onclick="location.href='@Url.Action("LoadQueryStartPage", "Active", new { queryID = query.Number })'">Publish</button>
                            }
                            else
                            {
                                <button type="button" class="btn btn-success" name="published" onclick="location.href='@Url.Action("CloseQuery", "Active", new { queryID = query.Number })'">Published</button>
                            }

                            <button type="button" class="btn btn-danger" name="delete" onclick="location.href='@Url.Action("DeleteQuery", "User", new { userID = Model.UserID, queryNumber  = query.Number})'">Delete</button>
                        </th>
                    </tr>
                </tbody>
            }
        </table>
</div>
